* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: none;
	outline: 0;
	border-style: solid;
	border-width: 0;
	box-sizing: border-box;
	position: relative;
}

html, body{
	height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div, section, nav{
	position: relative;
}

input[type=search] {
	appearance: none;
}

[hidden]{
  display: none;
}
