.blog__header figcaption{
  background: $brand-color;
  color: yellow;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 2em;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;

}
