.preview__header {
  margin-bottom: 1em;
  a {
    border: 2px solid;
    padding: 4px;

    &:hover{
      background: yellow;
    }
  }
}

.metadata {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 40px 120px;
  p {
    font-size: 92.25%;
    margin-bottom: 0.25em;
  }
  // background: $lightgrey;

  @include breakpoint(s) {
    font-size: 1em;
    padding: 20px;
  }
}

.blog__preview{
  padding: 80px 120px;
  background: url(../images/subtle_dots_@2X.png);
  width: 100%;

  @include breakpoint(m) {
    padding: 40px 60px;
  }
}
.blog__preview:before{
  content: '';
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
}
.article__preview{
  line-height: 0;
  width: calc(60% - 20px);
  height: 600px;
  float: left;

  @include breakpoint(m) {
    height: 400px;
  }

  article{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    p{
      color: #333;
      font-size: .75em;
    }
  }
  header{
    position: absolute;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    height: auto;
    bottom: 0;
    left: 0;
    background: #fff;
    transition: .2s ease-in-out;
    h3{
      font-size: .875em;
    }
  }
  &:hover{
    .bg{
      transform: scale(1.1);
    }
    header{
      background: $brand-color;
      h3 {
        color: yellow;
      }
      p {
        color: white;
      }
    }
    header{
      z-index: 2;
    }
  }
  .bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 6s ease-out;
  }
  header{
    z-index: 2;
  }
}

.article__preview:nth-of-type(1) {
    width: 100%;
    margin-bottom: 20px;

    p{
      color: #333;
      font-size: 0.875em;
    }
    header{
      max-width: calc(60% - 20px);
      @include breakpoint(s) {
        max-width: none;
      }
      h3{
        font-size: 1.3em;
      }
  }
}

.article__preview:nth-of-type(2){
  width: calc(60% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.article__preview:nth-of-type(1n + 3){
  width: 40%;
  height: 290px;
  margin-bottom: 20px;
  header{
    max-width: 90%;
    @include breakpoint(s) {
      max-width: none;
    }
  }
}
.article__preview:nth-of-type(1n + 5){
  width: calc(50% - 10px);
  height: 300px;
}

.article__preview:nth-of-type(2n + 5){
  margin-right: 20px;
}


.blog__header figure{
  line-height: 0;
}

blog__header {
  position: relative;
}

.header_has_an_image div {
  position: absolute;
  bottom: 0;
  width: 100%;

  h1 {
    color: white;
    background: linear-gradient(110deg, rgba(91, 0, 255, 0.9) 30%, rgba(211, 119, 140, 0.92) 100%);
    margin-top: 10px;
  }
}

.blog__header h1 {
  background: yellow;
  font-size: 3.5em;
  padding: 40px 120px 50px;
  line-height: 1.4em;

  @include breakpoint(l) {
    font-size: 3em;
  }

  @include breakpoint(m) {
    padding: 18px 60px 21px;
    padding: 20px;
    font-size: 2.5em;
  }

  @include breakpoint(s) {
    font-size: 1.6em;
    padding: 20px;
  }
}

#disqus_thread{
  margin-top: 1em;
}
