.btn, button{
  background-color: #F7DF09;
  border: 0;
  font-size: 1em;
  padding: 10px 20px;
  transition: .2s ease-in-out;
  &:hover{
    background: transparent;
    color: $brand-color;
  }
}

.busbtn{
  padding: 10px;
  border: 3px solid $sec-color !important;
  transition: .15s ease-in-out;
  &:hover{
    background: $sec-color;
    color: white;
    a{
      color: white !important;
    }
  }
}

.busbtn a{
  color: $sec-color !important;
  display: inline-block
}

.disq_btn{
  transition: .2s ease-out;
  transform-origin: top center;
  cursor: pointer;
  width: 100%;
  background: white;
  border: 1px solid #eee;
  font-weight: 400;
  &:hover{
    background: $brand-color;
    color: white;
  }
}
.disq_btn.deactive{
  opacity: 0;
  pointer-events: none;
}
