.btn, button{
  background-color: #F7DF09;
  border: 0;
  font-size: 1em;
  padding: 10px 20px;
  transition: .2s ease-in-out;
  &:hover{
    background: #F7A809;
    color: white;
  }
}

.busbtn{
  padding: 10px;
  border: 3px solid $sec-color !important;
  transition: .15s ease-in-out;
  &:hover{
    background: $sec-color;
    color: white;
    a{
      color: white !important;
    }
  }
}
.busbtn a{
  color: $sec-color !important;
  display: inline-block
}
