.btn, button{
  background-color: yellow;
  border: 0;
  font-size: 1em;
  padding: 10px 20px;
  transition: .2s ease-in-out;
  &:hover{
    background: transparent;
    color: $brand-color;
  }
}

.busbtn{
  padding: 10px;
  border: 3px solid $sec-color !important;
  transition: .15s ease-in-out;
  &:hover{
    background: $sec-color;
    color: white;
    a{
      color: white !important;
    }
  }
}

.busbtn a{
  color: $sec-color !important;
  display: inline-block
}

.light_btn {
  background: white;
  border: 1px solid #eee;
  font-weight: 400;
  transition: .2s ease-out;

  &:hover{
    background: $brand-color;
    border-color: $brand-color;
    color: white;
  }
}

.disq_btn{
  transform-origin: top center;
  cursor: pointer;
  width: auto;
}

.disq_btn.deactive{
  opacity: 0;
  pointer-events: none;
}
.share_btn {
  background-color: $brand-color;
  color: white;
}
.button_bar{
  button{
    margin: 0;
    display: inline-block;
    &+ button{
      border-left: none;
    }
    &:last-child {
      align-self: flex-end;
    }
  }
}
