.contact__form{
  padding: 80px 120px;
  color: white;
  border-top: 1px solid #ccc;
  label{
    margin-bottom: .5em;
    display: inline-block;
    width: 100%;
    color: $brand-color;
  }
  select,
  input,
  textarea{
    appearance: none;
    line-height: 2em;
    height: 50px;
    padding: 0 10px;
    background: transparent;
    max-width: 600px;
    border-radius: none;
    border: $brand-color 2px solid;
    border-radius: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
  }
  textarea{
    height: auto;
  }
}
