.eu.bar {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 40px 120px;
  background: #fff;

  @include breakpoint(s) {
  padding: 20px;
  }

  img {
    max-width: 350px;

    @include breakpoint(s) {
      max-width: 100%;
    }
  }
}
