.agenda__preview__item{
  border-bottom: 1px solid #ccc;
  padding: 30px 40px;
  width: 100%;
  transition: .1s ease-in-out;
  display: block;
  span{
    margin-right: 1em;
  }
  &:hover{
    background-color: #fafaff;
  }
  &.list {
    padding: 40px 120px;
  }
  h4{
    margin-bottom: .5em;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
    line-height: 1.5em;
    font-size: .875em;
    color: black !important;
  }
  .event__info{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
    line-height: 1.5em;
    font-size: .75em;
    margin-top: 1em;
    color: black;
    li{
      display: inline-block;
      margin-bottom: 1em;
      padding: 0 0.5em 0 0;
    }
  }
}

div.event__list {
  margin-bottom: -1px;
}

nav.list__navigation {
  padding: 30px 120px;
}

aside.filter__events {
  margin-bottom: 0;
}

div.events__filters {
  
  padding: 40px 40px 30px;

  select, input {
    margin-top: 0.5em;
  }

  select {
    appearance: none;
    height: 3.25em;
    padding: 0 3em 0 1em;
    border-radius: 0;
  }

}

.event__list {
  min-height: calc(100vh - 200px);
  margin-bottom: 0;
}

.tabs {
  
  display: flex;
  background-color: white;
  input { display: none }

  .btn {
    background-color: #fafaff;
    flex-grow: 1;
    border-bottom: 1px solid #ccc;
    padding: 1.5em 0 1.75em;
    text-align: center;
    
  }

  .btn + .btn {
    border-left: solid 1px #ccc;
  }

  .btn.is-active {
    background-color: white;
    border-bottom: none;
  }

}


.full.event__details {

  padding: 0 0 0 40px;

  li {
    
    padding: 25px 40px 30px 0;
    font-size: 125%;
    line-height: 1.4;

    p { 
      font-size: 100%;
      line-height: inherit;
    }

    header {
      font-family: 'Montserrat', sans-serif;
      font-size: 67.5%;
      padding: 0;
      background: transparent;
      position: static;
      margin-bottom: 0.375em;
    }

    a { font-size: 1rem }
    button { display: block }

    svg { 
      width: 1em;
      position: absolute;
      left: -25px;
      top: 27px;
    }

  }

  li + li { border-top: 1px solid #ccc }

  button {
    margin-top: 1em;
  }




}

form.map .pagination { display: none }

div.events__filters {

  label { margin: 0 0 0.25em }

  label.inactive { 
    opacity: 0.5;
    pointer-events: none;
  }

  .btn.skip {
    position: relative;
    width: 2.75em;
    text-indent: -9999px;
  }

  svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    top: 0.625em;
    left: 0.625em;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    display: block;
  }

  .is-active { color: blue }

  .prev { float: left }
  .next { float: right }

  .btn input { display: none }
  
}











