.event__details,
.filter__events {
  border: 1px solid $brand-color;
  background: #fff;
}
.agenda__preview__item{
  border-top: 1px solid $brand-color;
  padding: 30px 60px;
  width: 100%;
  transition: .1s ease-in-out;
  display: flex;

  figure {
    max-width: 250px;
    width: 100%;
    margin-right: 2em;
  }
  span{
    margin-right: 1em;
  }
  &:hover{
    background-color: #fafaff;
  }
  &.list {
    // padding: 40px 120px;

    @include breakpoint(m) {
      padding: 20px 60px;
    }

    @include breakpoint(s) {
      padding: 20px;
    }
  }
  h4{
    margin-bottom: .5em;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
    line-height: 1.5em;
    font-size: .875em;
    color: black !important;
  }
  .event__info{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
    line-height: 1.5em;
    font-size: .75em;
    margin-top: 1em;
    color: black;
    li{
      display: inline-block;
      margin-bottom: 1em;
      padding: 0 0.5em 0 0;
    }
  }

}

div.event__list {
  margin-bottom: -1px;
}

nav.list__navigation {
  padding: 30px 120px;
}

aside.filter__events {
  margin-bottom: 0;
}

div.events__filters {

  padding: 40px 40px 30px;

  select, input {
    margin-top: 0.5em;
  }

  select {
    appearance: none;
    height: 3.25em;
    padding: 0 3em 0 1em;
    border-radius: 0;
  }

}

.event__list {
  min-height: calc(100vh - 200px);
  margin-bottom: 0;
}

.tabs {

  display: flex;
  background-color: white;
  input { display: none }

  .btn {
    background-color: #fafaff;
    flex-grow: 1;
    border-bottom: 1px solid $border-color;
    padding: 1.5em 0 1.75em;
    text-align: center;

  }

  .btn + .btn {
    border-left: solid 1px $border-color;
  }

  .btn.is-active {
    background-color: white;
    border-bottom: none;
  }

}


.full.event__details {
  padding: 0;

  .btn{
    margin: 0 0 1em 0;
  }
  li.logo {
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    padding: 2em;

    img {
      max-width: 250px;
    }
  }

  li {
    font-size: 100%;
    line-height: 1.7;
    margin: 0;
    margin-bottom: -2px;

    section {
      padding: 1em;
      width: 100%;
    }

    p {
      font-size: 100%;
      line-height: inherit;
    }

    header {
      font-family: 'Montserrat', sans-serif;
      padding: 0;
      background: $brand-color;
      color: white;
      margin-bottom: 0.3em;
      position: static;
      padding: 0.5em 1em;
    }



    a { font-size: 1rem }
    button { display: block }

    svg {
      width: 1em;
      position: absolute;
      left: -25px;
      top: 27px;
    }

    a {
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

  }

  button {
    margin-top: 1em;
  }

}

form {
  position: static;
}

.archive .list {
  background: white;
  border-bottom-color: transparent;
}

.btn.archive {
  position: absolute;
  background: #fafaff;
  color: black;
  bottom: 0;
  left: 0;
  width: 100%;
  border-left-width: 0;
  border-color: $border-color;
  border-top-width: 1px;
  border-bottom: 0;
  border-style: solid;
  padding: 1.5em;
  &:hover { color: $brand-color }

  @include breakpoint(s) {
    position: relative;
  }
}

.tabs {
  position: static;

}

form.map .pagination { display: none }

div.events__filters {

  position: static;

  label { margin: 0 0 0.25em }

  label.inactive {
    opacity: 0.5;
    pointer-events: none;
  }

  .btn.skip {
    position: relative;
    width: 2.75em;
    text-indent: -9999px;
  }

  svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    top: 0.625em;
    left: 0.625em;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    display: block;
  }

  .is-active { color: blue }

  .prev { float: left }
  .next { float: right }

  .btn input { display: none }

}

.tags {
  display: block;
  li {
    display: inline;
    border: none!important;
    color: red;
  }
}


.tag.btn {
  padding-left: 2.25em;
}
