#featured {
  // background: silver;
  width: 30vw;
  bottom: 0;
  right: 0;
  height: 0;
  position: fixed;
  padding-top: 100%;
  z-index: 2;

  &.done {
    position: absolute;
  }

  .intro {
    width: inherit;
    max-width: 400px;
    right: 50%;
    bottom: 0;
    position: absolute;
    pointer-events: none;
  }

  &.finish {
    transition: background 0.2s ease;
  }

  .phrase {
    background-color: transparent;
  }

  .phrase div {
    position: absolute;
    color: #5B00FF;
    background-color: transparent; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .phrase h1 {
    color: inherit;
    font-size: 2em;
    font-size: calc(2.5vw + 1em);
    vertical-align: middle;
    margin-bottom: 0.5em;
  }

  .phrase {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    padding-top: 33%;
    top: 0;
    // transform: scale(0.5);
    transform: matrix3d(0.5,0,0.00,0,0.00,0.5,0.00,0.001,0,0,1,0,0,250,0,1);
    transform-origin: center bottom;
    opacity: 0;
    z-index: 1;
  }

  &.finish.done .phrase {
    transform: none;
    transition: opacity 0.4s 0.2s ease-in, transform 0.6s 0.1s ease;
    opacity: 1;
  }


  .intro {
    opacity: 0;
    position: absolute;
    transform: translate(-1600px, 10.5%);
    
  }

  &.start .intro {
    opacity: 1;
    transform: translate(50%, 10.5%);
    transition: opacity 0.4s ease, transform 2.5s ease-in-out;
  }

  .intro .body {
    animation: bus-body 0.2s 1s infinite ease-in;
  }

  .intro .wiel {
    animation: bus-wiel 0.25s 11 linear;
    transform-origin: center;
    display: block;
    position: absolute;
  }
  
  
  .btn {
    border: 2px solid black;
  }
  
  .btn:hover {
    background: yellow;
    color: black;
    animation: bus-btn 0.8s ease-in-out;
  }

}

@keyframes bus-btn {
  0% { transform: none }
  72% { transform: skewX(-25deg) }
  76% { transform: skewX(5deg) }
  80% { transform: skewX(-5deg) }
  84% { transform: skewX(4deg) }
  88% { transform: skewX(-4deg) }
  92% { transform: skewX(3deg) }
  96% { transform: skewX(-3deg) }
}

@keyframes bus-body {
  from { transform: none }
  to { transform: translateY(1%) }
}

@keyframes bus-wiel {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
