img{
	max-width: 100%;
}

img.central {
  display: block;
  margin: 0 auto 2.5em;
}

header figure img {
  width: 100%;
  height: auto;
}

figure footer {
  background: $brand-color;
  color: yellow;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 2em;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
}

header div {
  text-align: right;
  color: white;
  h1 {
    text-align: left;
  }
}

a.license  {
  float: right;
  color: white;
  margin: 0 10px;
  
  span {
    display: none
  }

  svg {
    display: inline-block;
    margin: 0 0 -0.3125em;
  }

}