.main__content{
  margin-top: 200px;
}


.main__content .main-section{
  width: calc(100% - 420px);
  &.full__width { width: 100% }

  @include breakpoint(s) {
    width: 100%;
  }
}

.social aside {
  display: block;
  background: transparent;
  height: 100%;
}

.main__content,
.articles .main__content,
.deliverables .main__content {
  background: url(../images/subtle_dots_@2X.png);
  padding: 70px;

  @include breakpoint(s){
    padding: 20px;
  }
}

.book .main-section,
.social .main-section,
.default .main-section,
.dictionary .main-section,
.contact .main-section,
.partners .main-section,
.article .main-section,
.blog-item .main-section,
.event-item .main-section,
.events .main-section {
  background: #fff;
  border: 1px solid $brand-color;
}

.main__content .flex.flex__wrap {
  justify-content: space-between;
}

.agenda__preview {
  margin-bottom: 20px;
  background: url(../images/geometry_@2X.png);
  background-size: 70%;
  flex-grow: -1;
}

aside .agenda__preview {

  border: 1px solid #5B00FF;
}

.main__content aside{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  max-width: 100%;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;

  h3 {
    color: #fff;
    text-align: center;
  }

  @include breakpoint(s) {
    max-width: none;
    width: auto;
  }

  &::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(-180deg, #fff 50%, rgba(255,255,255,0) 100%);

  }
  header{
    padding: 36px 40px 44px;
    background: $brand-color;
    h3 a{
      color: white;
    }
  }
}


.metadata {
  width: 100%;
  padding: 40px 120px 0;
}

.text{
  padding: 60px 128px 60px 120px;

  @include breakpoint(m) {
    padding: 60px 64px 30px 60px;
  }

  ol {
    list-style: decimal;
    padding-left: 2em;
    li{
      margin-bottom: 0.5em;
    }
  }
  ul{
    list-style: disc;
    padding-left: 2em;
    li{
      margin-bottom: 0.5em;
    }
  }
}
