.main__content{
  top: 200px;
}


.main__content .main-section{
  width: calc(100% - 400px);
  &.full__width { width: 100% }

  @include breakpoint(s) {
    width: 100%;
  }
}

.home .main__content .main-section,
.articles .main__content .main-section {
  background: url(../images/subtle_dots_@2X.png);
  padding: ($gutter * 2);

  @include breakpoint(s){
    padding: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 245, 245, 0.35);
  }
}

.main__content aside{
  border-left: 1px solid $border-color;
  width: 400px;
  max-width: 100%;
  margin-bottom: -1px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  background: url(../images/geometry_@2X.png);
  background-size: 70%;

  @include breakpoint(s) {
    border-left: none;
    max-width: none;
  }

  &::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(-180deg, #fff 50%, rgba(255,255,255,0) 100%);

  }
  header{
    padding: 36px 40px 44px;
    background: $brand-color;
    h3 a{
      color: white;
    }
  }
}

aside.featured__container {
  padding-bottom: 34vw;
}


.metadata {
  width: 100%;
  padding: 40px 120px 0;
}

.text{
  padding: 60px 128px 60px 120px;

  @include breakpoint(m) {
    padding: 60px 64px 30px 60px;
  }

  ol {
    list-style: decimal;
    padding-left: 2em;
    li{
      margin-bottom: 0.5em;
    }
  }
  ul{
    list-style: disc;
    padding-left: 2em;
    li{
      margin-bottom: 0.5em;
    }
  }
} 
