/* --------------------------------

1. Auto-Hiding Navigation - Simple

-------------------------------- */

.logo{
  display: block;
  width: 150px;
  height: auto;
  margin-right: 40px;
}
.logo img{
  max-width: 100%;
}

#navigation{
  width: 100%;
}

.mailbtn {
  @include breakpoint(l) {
    display: none !important;
  }
}
.auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 888;
  height: 60px;
  font-weight: 700;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.auto-hide-header.is-hidden {
  transform: translateY(-100%);
}

#navigation{
  padding: 0 70px 0 56px;
  display: flex;
  align-items: center;
}
.auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  width: 70px;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  right: 0;
  border-left: 1px solid $border-color;
}
.auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.auto-hide-header .nav-trigger em, .auto-hide-header .nav-trigger em::after, .auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: $brand-color;
  backface-visibility: hidden;
}
.auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  transition: background-color .2s;
}
.auto-hide-header .nav-trigger em::before, .auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  transition: transform .2s;
}
.auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  transform: translateY(-6px);
}
.auto-hide-header .nav-trigger em::after {
  transform: translateY(6px);
}
@media only screen and (min-width: 1025px) {
  .auto-hide-header .nav-trigger {
    display: none;
  }

  .auto-hide-header {
    height: 130px;
  }
}

.auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.primary-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: $brand-color;

  @include breakpoint(s) {
    padding-left: 0;
  }
}
.primary-nav > ul a:hover, .primary-nav > ul a.active {
  color: $sec-color;
}
@media only screen and (min-width: 1024px) {
  .primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
    font-size: 1.1em;

  }
  .primary-nav > ul li:last-of-type {
    margin-right: 0;
    justify-content: flex-end;
  }

  .primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .primary-nav ul,
.primary-nav ul:target {
  /*
    show primary nav - mobile only
    :target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .primary-nav ul,
  .primary-nav ul:target {
    display: table-cell;
  }
}

/* --------------------------------

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */
.secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  height: 70px;
  background-color: #5B00FF;
  background-image: linear-gradient(90deg, $brand-color 30%, #D37777 100%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  /* Rectangle: */
  color: white;
  /* Force Hardware Acceleration */
  transform: translateZ(0);
  will-change: transform;
  transition: transform .5s;
}
.secondary-nav.nav-end::after {
  opacity: 0;
}

.button-bar {
  margin-left: auto;

  .busbtn {
    display: inline-block;
    margin-right: 1em;
    font-size: 1em;
    padding: 0;
    padding: 0.4em 0.6em;
  }
}

@media only screen and (min-width: 1024px) {
  .secondary-nav {
    overflow: visible;
  }
}

.mobile {
  display: none;

  @include breakpoint(m) {
    display: inline-block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .main__content{
    margin-top: 130px !important;
  }
  .nav-trigger{
    z-index: 999;
  }
  #navigation{
    display: none;
  }
  .nav-open #navigation{
    display: block;
    padding: 20px;
    background-color: white;
    z-index: 999;
    position: fixed;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #ccc;
    top: 60px;
    left: 0;
    height: auto;
    width: 100%;
    font-size: 80% !important;
  }
  .logo{
    display: none !important;
  }
  .logo.mobile {
    display: block !important;
    width: 80px;
    margin-left: 15px;
    margin-top: 5px;
  }
  .auto-hide-header{
    height: 60px;
  }
}

.subnav__list {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 60px;
}

.subnav__list li {
  display: inline-block;
  margin-right: 45px;
  align-items: center;
  font-size: 1.2em;
  a {
    color: white;
    opacity: 0.8;

    &.active {
      color: yellow;
      opacity: 1;
    }
  }

}

.secondary-nav .social__bar {

  @include breakpoint(s) {
    display: none;
  }
}

.primary-nav .social__bar {
  @include breakpoint(m){
    display: none;
  }
}

.social__bar {

  display: flex;
  align-items: center;
  margin-right: 1em;



  @include breakpoint(s){
    border-top: 1px solid $lightgrey;
    padding-top: 20px;
    display:block;

    .icon {
      width: 1em;
      margin-right: 2em;
    }
  }

  li {
    font-size: 1.3em;
    display: inline-block;
    transition: 0.2s ease-in-out;
    opacity: 0.9;
    margin: 0 0.2em;

    a {
      display: block;
      height: 2em;
      color: #fff;

      @include breakpoint(s){
        color: rgba(0, 0, 0, 0.3);
      }
    }

    &:hover{
      transform: scale(1.1);
      opacity: 1;
    }
  }
  .fa-facebook {
    font-size: .9em
  }
}

.editpage {
  display: flex;
  align-items: center;
  color: white;
}

.event__list .pagination {
  padding: 40px 120px;
  // background-color: rgba(0,0,0, 0.03);
  // border-bottom: 1px solid #eee;
  border-top: none;
}


.pagination {
  padding: 20px 0;
  border-top: 1px solid #eee;
  float: left;
  width: 100%;
}


.slogan {
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-left: $gutter * 1.5;
  opacity: 0.8;
  font-size: 0.875em;
  font-family: 'Montserrat', sans-serif;

  @include breakpoint(s) {
    display: none;
  }
}
