.partner__bar{
  padding: 80px 120px;
  border-top: 1px solid #ccc;
}

.logo__bar{
  padding: 40px 0;
  display: flex;
  margin-left: -20px;
}

.logo__bar .item{
  max-width: 200px;
  margin: 20px;
  opacity: .8;
}
